@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Rock Salt', cursive;
 font-size: 1rem;
}

body{
  background-color: rgb(198, 237, 255);
}
