nav {
  background-color: rgb(41, 38, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px rgb(223, 70, 177);
  div {
    margin: 2rem 10rem;
    h1 {
      font-size: 2rem;
      color: white;
      span {
        color: rgb(219, 80, 166);
      }
    }

    ul {
      display: flex;
      gap: 3rem;
      list-style-type: none;
      color: white;

      li {
        font-size: 2rem;
        .link {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  nav {
    div {
      margin: 2rem 4rem;
    }
  }
}
@media (max-width: 936px) {
  nav {
    div {
      margin: 2rem 2rem;
    }
  }
}
@media (max-width: 808px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
