.bar {
  width: 500px;
  background-color: rgb(49, 47, 47);
  margin: 2rem;
  border-radius: 8px;
}
.resim img {
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 5px;
}
.resim {
  width: 95%;
  height: 95%;
  margin: auto;
  overflow: hidden;
}

.baslik {
  color: white;

  font-size: 3rem;
  padding: 2rem 1rem 0 1.5rem;
}
.bilgi {
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  padding: 2rem 1rem;
  transform: translateY(1rem);
}

.resim:hover {
  filter: grayscale(90%);
}
.düzen:hover .bilgi {
  position: absolute;
  bottom: -15rem;
  transform: translateY(-15rem);
  transition-duration: 0.8s;
}
.düzen {
  overflow: hidden;
  width: 500px;
  height: 19rem;
  position: relative;
}
.bilgi p {
  font-family: "Courier New", Courier, monospace;
}
